<footer class="footer-set">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="footer-head">Our Company</h5>
        <div class="footer-horizontal-rule mb-4"></div>
        <ul class="list-unstyled text-small">
          <li class="mb-1 "> <%= link_to "Delivery",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "Legal Notice",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "Terms and conditions",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "About us",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "Secure payment",root_path ,class:"footer-body" %>  </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-head">Products</h5>
        <div class="footer-horizontal-rule mb-4"></div>
        <ul class="list-unstyled text-small">
          <li class="mb-1"> <%= link_to "Prices drop",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "New products",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "Best sales",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "Contact us",root_path ,class:"footer-body" %>  </li>
          <li class="mb-1"> <%= link_to "Sitemap",root_path ,class:"footer-body" %>  </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-head" >Store Information</h5>
        <div class="footer-horizontal-rule mb-4"></div>
        <ul class="list-unstyled text-small">
          <li class="mb-1 footer-body"> ShopOnline-Lahore </li>
          <li class="mb-1 footer-body"> 000-000-0000</li>
          <li class="mb-1 footer-body"> sales@shoponline.com </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="footer-rights">
  <div class="container>
    <div class="row">
      <div class="col-12">
        <p class="text-center text-small mb-0"> Copyrights © 2024 ShopOnline. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
