<div class="header-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to root_path, class: "home-link" do %>
          <h2 class="logo-design">S.Online</h2>
        <% end %>
      </div>
      <div class="col-md-4 ">
        <%= form_for "",url:root_path, role:"search", method: :get do %>
          <div class="input-group mb-3 rounded-pill search-bar-border">
            <%= text_field_tag :search, @search_term, placeholder: "Search Products Here...", class: "form-control search-focus  rounded-pill border-0  shadow-none" %>
            <div class="input-group-append">
              <button type="submit" class="btn btn-custom search-bar-btn rounded-pill ">
                <i class="fas fa-search search-icon-format"></i>
              </button>
            </div>
          </div>
        <%end%>
      </div>
      <div class="col-md-4 text-md-end header-cred-design mt-1">
        <%= link_to new_order_path, class:"cart-design home-login-link " do %>
          <i class="fa fa-shopping-cart"></i>
        <% end %>
        <% if user_signed_in? %>
          <%= link_to "Logout" , destroy_user_session_path, data: {turbo_method: :delete} , class:"home-login-link admin-header-link  me-3"%>
          <% if current_user.has_role?(:Admin) %>
            <%= link_to "Admin", admin_path, class:"home-login-link"%>
          <%end%>
          <% if current_user.has_role?(:Vendor) %>
            <%= link_to "Vendor", vendors_home_index_path, class:"home-login-link "%>
          <%end%>
          <% if current_user.has_role?(:User) %>
            <%= link_to "User", root_path, class:"home-login-link "%>
          <%end%>
        <% else %>
          <%= link_to "Login" , new_user_session_path , class:"home-login-link me-3"%>
          <%= link_to "Register" , new_user_registration_path , class:"home-login-link"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
