<table class="table table-striped border ">
  <thead>
    <tr class="tbl-bg">
      <th scope="col" class="text-center ">Name</th>
      <th scope="col" class="text-center">Email</th>
      <th scope="col" class="text-center">Contact#</th>
      <th scope="col" class="text-center">Country</th>
      <th scope="col" class="text-center">State</th>
      <th scope="col" class="text-center">City</th>
      <th scope="col" class="text-center">Area</th>
      <th scope="col" class="text-center">Zip#</th>
      <th scope="col" class="text-center">Address</th>
      <th scope="col" class="text-center">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="text-center font-set"><%= order.user.username %></td>
        <td class="text-center font-set"><%= order.user.email %></td>
        <td class="text-center font-set"><%= order.phone_number %></td>
        <td class="text-center font-set"><%= order.country %></td>
        <td class="text-center font-set"><%= order.state %></td>
        <td class="text-center font-set"><%= order.city %></td>
        <td class="text-center font-set"><%= order.area %></td>
        <td class="text-center font-set"><%= order.zip_code %></td>
        <td class="text-center font-set"><%= order.adress %></td>
        <td class="text-center font-set"><%= order.status %></td>
      </tr>
    <%end%>
  </tbody>
</table>
