<h4 class="text-center mt-4">Admin Orders</h4>
<table class="table table-striped border  ">
  <thead>
    <tr class="tbl-bg">
      <th scope="col" class="text-center ">Name</th>
      <th scope="col" class="text-center">Email</th>
      <th scope="col" class="text-center">Contact#</th>
      <th scope="col" class="text-center">Country</th>
      <th scope="col" class="text-center">State</th>
      <th scope="col" class="text-center">City</th>
      <th scope="col" class="text-center">Area</th>
      <th scope="col" class="text-center">Zip#</th>
      <th scope="col" class="text-center">Address</th>
      <th scope="col" class="text-center">Status</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td class="text-center font-set align-middle"><%= order.user.username %></td>
        <td class="text-center font-set align-middle"><%= order.user.email %></td>
        <td class="text-center font-set align-middle"><%= order.phone_number %></td>
        <td class="text-center font-set align-middle"><%= order.country %></td>
        <td class="text-center font-set align-middle"><%= order.state %></td>
        <td class="text-center font-set align-middle"><%= order.city %></td>
        <td class="text-center font-set align-middle"><%= order.area %></td>
        <td class="text-center font-set align-middle"><%= order.zip_code %></td>
        <td class="text-center font-set align-middle"><%= order.adress %></td>
        <td class="text-center font-set align-middle"><%= order.status %></td>
        <td class="text-center align-middle "><%= link_to "View" ,order_path(order) ,class:"text-decoration-none px-2 edit-clr" %><%= link_to "Edit" ,edit_order_path(order) ,class:"text-decoration-none px-2 edit-clr" %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
