<style>
  body{
  background-color: #f5f5f5;
  }
</style>
<div>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4">
        <%= render "partials/sidebar" %>
      </div>
      <div class="col-md-4">
        <%= form_with model: @product do |f| %>
          <div class="form-group">
            <%= f.label :title ,class:"label-set"%>
            <%= f.text_field :title, class: "input-lg custom-height form-control input-lg", placeholder:"Product name ..." %>
            <% if @product.errors[:title].any? %>
              <div class="text-danger">
                <%= @product.errors[:title].first %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :price ,class:"label-set" %>
            <%= f.text_field :price, class: "input-lg custom-height form-control",placeholder:"Product price ..." %>
            <% if @product.errors[:price].any? %>
              <div class="text-danger">
                <%= @product.errors[:price].first %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :quantity,class:"label-set" %>
            <%= f.text_field :quantity, class: "input-lg custom-height form-control",placeholder:"Product quantity ..." %>
            <% if @product.errors[:quantity].any? %>
              <div class="text-danger">
                <%= @product.errors[:quantity].first %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :Image,class:"label-set" %>
            <%= f.file_field :avatar, class: "input-lg  form-control"%>
            <% if @product.errors[:avatar].any? %>
              <div class="text-danger">
                <%= @product.errors[:avatar].first %>
              </div>
            <% end %>
          </div>
          <div class="form-group pb-3">
            <%= f.label :description,class:"label-set" %>
            <%= f.text_area :description, class: "form-control",rows:"4",placeholder:"Description ..." %>
            <% if @product.errors[:description].any? %>
              <div class="text-danger">
                <%= @product.errors[:description].first %>
              </div>
            <% end %>
          </div>
          <%= f.submit class:'btn btn-danger d-block mx-auto'%>
        <%end%>
      </div>
    </div>
  </div>
</div>