<table class="table table-striped border mt-3">
  <thead>
    <tr class="tbl-bg">
      <th scope="col" class="text-center">Image</th>
      <th scope="col" class="text-center">Name</th>
      <th scope="col" class="text-center">Price</th>
      <th scope="col" class="text-center">Quantity</th>
      <th scope="col" class="text-center">Detail</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center"><%= image_tag @product.avatar,width:"70px" %></td>
      <td class="text-center"><%= @product.title %></td>
      <td class="text-center"><%= @product.price %></td>
      <td class="text-center"><%= @product.quantity%></td>
      <td class="text-center"><%= @product.description %></td>
    </td>
  </tr>
</tbody>
</table>
